* {
  display: flex;
  flex-direction: column;

}
.translator-body {
  background: linear-gradient(to right, #3f72ff, #e388ff);
  width: 400px;
  padding: 20px;
  min-height: 150px;

}

.translator-area {
  flex-direction: row;
}
textarea {
  min-height: 50px;
  max-height: 200px;
  width: 300px;
  padding: 10px;
  resize: vertical;
  background-color: rgba(0, 0, 0, 0.4);
  color: seashell;
}
textarea:focus {
  border-color: #007bff; /* Özel bir odaklandığında renk */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Hafif bir gölge */
  outline: none; /* Varsayılan odak çerçevesini kaldır */
}
.response-body {
  flex-direction: row;
}
#language-content {
  color: rgb(199, 199, 199);
}
#translate-content {
  color: seashell;
}
.content-area {
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  padding: 10px;
}
.content-functions {
  justify-content: space-between;
  align-items: start;
  width: 70px;
  padding: 5px;
  overflow: hidden;
}

.option-radio {
  display: none;
}
.option-radio:checked + label {
  background-color: #5d0379;
  color: #fff;
  border-color: #e388ff;
}
.option-label {
    padding: 5px;
  font-size: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff77;
  transition: background-color 0.3s ease;
  margin: 5px;
  max-width: 100px;
}
.options {
  flex-direction: row;
  width: 320px;
}
.options-funcs {
  width: 70px;
  padding: 5px;
}
.options-body {
  flex-direction: row;
  width: 400px;
}
