<div class="translator-body">
  <div class="options-body">
    <div class="options">
      <div *ngFor="let option of translateOptions">
        <input
          class="option-radio"
          type="radio"
          name="option"
          id="{{ option.id }}"
        />
        <label
          (click)="selectOption(option.id)"
          class="option-label"
          for="{{ option.id }}"
          >{{ option.description }}</label
        >
      </div>
    </div>

    <div class="options-funcs">
      <button (click)="goSettings()">Seçenek Ekle</button>
    </div>
  </div>
  <div class="translator-area">
    <textarea
      placeholder="Metin girin..."
      [(ngModel)]="textAreaValue"
      name="translator-textarea"
      id=""
      spellcheck="false"
    ></textarea>
    <div style="width: 70px; padding: 5px">
      <button type="submit" (click)="translateFunc()">Çevir</button>
    </div>
  </div>

  <div class="response-body">
    <div class="content-area">
      <div id="language-content">{{ translatedValue.to }}</div>
      <div id="translate-content">{{ translatedValue.text }}</div>
    </div>
    <div class="content-functions">
      <button>Kopya</button>
    </div>
  </div>
</div>
