* {
  display: flex;
  flex-direction: column;
}
.settings-body {
  width: 400px;
  padding: 20px;
  min-height: 150px;
}
.select-body {
  width: 400px;
  flex-direction: row;
  height: 50px;
}

.custom-select {
  width: 150px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background-color: transparent;
  border-width: 0px;
}

.option {
  background-color: #007bff;
}
select {
  font-family: "Trebuchet MS", sans-serif;

  color: aliceblue;
  background-color: #007bff;
  border-width: 0px;
  border-radius: 5px;
  padding: 3px;
  width: 120px;
  height: 28px;
}
select:hover {
  height: 30px;
}

.option-radio {
  display: none;
}
.option-radio:checked + label {
  background-color: #800000;
  color: #fff;
  border-color: #ff0000;
}
.option-label {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff41;
  transition: background-color 0.3s ease;
  padding: 4px;
  margin: 3px;
}
.options {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 320px;
}
.options-funcs {
  justify-content: center;
  width: 70px;
  padding: 5px;
}
.options-body {
  flex-direction: row;
  width: 400px;
  min-height: 55px;
}
.button {
  width: 30px;
  background-color: #007bff;
  border-width: 0px;
  border-radius: 10px;
  padding: 3px;
}
.button:hover {
  width: 35px;
}
.add-button {
  width: 80px;
  justify-content: center;
}
button {
  color: #ddd;
  background-color: #007bff;
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  color: #ddd;
  background-color: #007bff;
  padding: 12px;
}

.route {
  position: relative;
  left: 0px;
  top: 0px;
  height: 50px;
  border-width: 0px;
  border-radius: 10px;
  padding: 5px;
}
.icon {
  width: 32px;
}
.icon:hover {
  width: 36px;
}
